.container-list {
  background-color: white;

  .box-body {
    padding: 1rem 0;
  }
  
  .ant-table-thead > tr > * {
    background-color: #bae8e8 !important;
    font-weight: 700 !important;
  }
  
  .ant-table-pagination-right {
    margin-top: 2.5rem !important;
    justify-content: center !important;
  }
  .container-button {
    display: flex !important;
    & > button {
      justify-content: flex-end !important;
    }
  }
  .mgt-28 {
    margin-top: -2.8rem !important;
  }
  .mgt-3 {
    margin-top: 2.8rem !important;
  }
  tr th:nth-child(1),
  tr td:nth-child(1) {
    text-align: center;
  }
  .ant-pagination-options {
    display: none !important;
  }
  
  .ant-modal-wrap {
    transform: translateY(210px);
  }
  
  .ant-layout-content {
    margin: 15px 16px !important;
  }

  .ant-select-selector {
    width: 35px;
  }
}
