.addJF-page {
  /* https://www.happyhues.co/palettes/14 */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #272343;
  }
  p {
    color: #2d334a;
  }

  .input-name {
    background-color: #bae8e8;
    min-width: 100px;
  }
  .input-name:focus {
    border: none;
  }
  .label {
    min-width: 180px;
  }
  .ant-form-item-control-input {
  }
  .demo-infinite-container {
    height: 150px;
    padding: 8px 24px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background-color: '#e3f6f5';
    .list-items {
      border-bottom: 0.1px solid #d5d5d5;
    }
  }
  .ant-form-horizontal .ant-form-item-control {
    max-width: 530px;
    min-width: 300px;
    margin-left: 7px;
  }
  .ant-form-item {
    margin-right: 8px;
    margin-left: 100px;
    margin-bottom: 19px;
  }
  .ant-form-item input,
  .selector ::placeholder {
    color: #272343;

    // background-color: #e3f6f5;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: #272343;

    // background-color: #e3f6f5;
  }
  .ant-form-item-has-error
    .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input)
    .ant-select-selector {
    color: #272343;

    // background-color: #e3f6f5;
  }
  .addJF-selector {
    background-color: transparent;
  }
  .ant-form-item-label > label,
  .label {
    font-size: 19px;
    color: #272343;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }
}
